* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body,
html {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url('image/wall2.jpg');
    /* background-image: url('image/wall2.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    color: #535353 !important;
    scroll-behavior: smooth;
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}

.font {
    font-family: 'Courgette', cursive;
}

.font2 {
    font-family: 'Courgette', cursive;
    font-size: 60px;
    font-weight: bold;
    color: #9336B4;
}

.font3 {
    color: #9336B4;
    text-align: center;
}

.judul {
    font-family: 'Arvo', serif;
    color: #9336B4;
    font-weight: bolder;
}

.bg-img1 {
    background-image: url('image/wall4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center !important;
    /* background-attachment: fixed; */
    /* width: 100%; */
    height: 700px;
}

.pas-foto {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.card-hover:hover {
    /* transform: scale(1.1); */
    /* box-shadow: 0px 5px 10px 0px rgb(191, 43, 228); */
    filter: drop-shadow(0 0 10px #DD58D6);
}

.content {
    position: relative;
    padding: 10px;
    margin: 0;
  }
  
  .foto {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute; 
    top: 255px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 470px;
    transition: .4s ease;
    opacity:0;
    color: white;
    font-size: 17px;
    padding: 20px;
    text-align: center;
  }
  .content:hover .overlay {
    opacity: 1;
  }

/* maps */
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 500px;
}

.gmap_iframe {
    height: 500px !important;
}

/* video */
.embed-responsive {
    position: relative;
    display: block;
    width: 100% !important;
    padding: 0;
    overflow: hidden;
}

/* button */
.btn {
    background-color: #9336B4 !important;
    color: #fff;
    border-color: #9336B4;
    font-weight: 400;
    padding: 8px;
}

.btn:hover {
    background-color: #DD58D6 !important;
    border-color: rgb(255, 255, 255) !important;
    color: #fff;
    font-weight: 400;
    padding: 8px;
}

div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;

    display: flex;
    justify-content: center;
}

div.scrollmenu>a {
    display: inline-block;
    color: #9336B4;
    text-align: center;
    border-left: 1px solid #9336B4;
    border-right: 1px solid #9336B4;
    padding: 14px;
    width: 110px;
    text-decoration: none;
    margin: 0;
}

div.scrollmenu a:hover {
    background-color: #9336B4;
    color: white;
}

@media only screen and (max-width: 600px) {
    div.scrollmenu {
        overflow-x: scroll;
        display: flex;
        justify-content: left;
        /* white-space: nowrap; */
    }
}